@{
    ViewData["Title"] = "Admin Panel";
}

<style>
	textarea {
		resize: none;
		font-size: 12px !important;
		height: 80px !important;
	}

	.btn-purple2 {
		color: white;
		background-color: #8540f5;
	}

		.btn-purple2:hover {
			color: white;
			background-color: #8540f5;
		}

	.table-purple {
		color: white;
		background-color: #6a67ce;
	}
</style>

<script src="~/Resources/myScripts/Admin.js" ></script>

<div class="d-flex justify-content-end">
	<!-- evenly around-->
	<button type="button" id="btn1" onclick="personelGoster()" class="btn btn-purple2 me-2 bi bi-file-earmark-person "> Personel Yönetimi</button> <!-- ms me marginStart - me marginEnd-->
	<button type="button" id="btn4" onclick="onayBekleyen()" class="btn btn-warning bi bi-info-square-fill"> <b>Onay Bekleyenler</b></button>
</div>

<div id="resim" class="d-flex justify-content-center mt-5">
	<img src="~/img/noneContend.svg" class="img-fluid" />
</div>

<div class="mt-3">
	<div id="personel">
		<table class="table table-bordered text-center table-sm align-middle bg-white small">
			<thead class="bg-light table-dark w-auto small">
				<tr>
					<th class="w-25">Bilgiler</th>
					<th class="w-75">Personel İçin Doldurulması Gereken Alanlar</th>
				</tr>
			</thead>
			<tr>
				<td>Personel Seçiniz</td>
				<td>
					<select id="selectionPersonel" class="form-select form-select-sm">
						<option selected>Personel Seçiniz..</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>İsim</td>
				<td><input type="text" id="firstname" value="" class="form-control" placeholder="İsim" /></td>
			</tr>
			<tr>
				<td>Soyisim</td>
				<td><input type="text" id="lastname" value="" class="form-control" placeholder="Soyisim"></td>
			</tr>
			<tr>
				<td>E-Posta Adresi</td>
				<td><input type="text" id="email" value="" class="form-control" placeholder="E-Posta Adresi"></td>
			</tr>
			
			<tr>
				<td>Şifre</td>
				<td><input type="password" id="password" value="" class="form-control" placeholder="Şifre"></td>
			</tr>
			<tr>
				<td>Departman</td>
				<td>
					<select id="departant" class="form-select form-select-sm" aria-label=".form-select-sm example">
						<option selected hidden>Departman Seçiniz..</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Aktiflik Durumu</td>
				<td>
					<select id="Status" class="form-select form-select-sm" aria-label=".form-select-sm example">
							<option selected hidden >Durum</option>
							<option value="-1">Pasif</option>
							<option value="1">Aktif</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>İşlemler</td>
				<td>
					<button id="PersonelAdd" type="button" class="btn btn-success w-25 float-end">Ekle</button>
					<button id="PersonelUpdate" type="button" class="btn btn-secondary w-25 float-end mx-1">Kaydet</button>
					<button id="PersonelDelete" type="button" class="btn btn-danger w-25 float-end">Sil</button>
				</td>
			</tr>
		</table>
	</div>

	<div id="onayBekleyenL1" class="table-responsive">
		<table class="table table-bordered text-center table-sm align-middle small bg-white">
			<thead class="table-purple w-auto small">
				<tr>
					<th>İsim Soyisim</th>
					<th>Departmanı</th>
					<th>Talep Edilen İzin Tarihi</th>
					<th>İzin Tipi	</th>
					<th>İzne Çıkış Tarihi	</th>
					<th>İzinden Dönüş Tarihi	</th>
					<th>Durum</th>
					<th>Açıklama</th>
					<th>Onaylayan</th>
					<th>Doküman</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="w-auto small">
				<tr>
					<td>
						<p class="fw-bold mb-1">Nazım</p>
						<p class="text-muted mb-0">nazim.ozturk@mail.com</p>
					</td>
					<td>
						<p class="fw-normal mb-1">Yazılım</p>
						<p class="text-muted mb-0">L1</p>
					</td>
					<td>
						<span class="">28-05-2022</span>
					</td>
					<td>Yıllık İzin</td>
					<td>09-09-2022</td>
					<td>19-09-2022</td>

					<td>
						<select class="form-select">
							<option selected >Onay Bekleniyor</option>
							<option value="1">Onaylandı</option>
							<option value="2">Reddedildi</option>
							<option value="3">İptal Edildi</option>
						</select>
					</td>

					<td>
						<div class="form-floating">
							<textarea class="form-control" placeholder="Açıklama" id="floatingTextarea2"></textarea>
						</div>
					</td>
					<td>Kadir KESİCİ</td>
					<td>Doküman</td>
					<td><button type="button" class="btn btn-purple2">Kaydet</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="onayBekleyenMudur" class="table-responsive">
		<table class="table table-bordered text-center table-sm align-middle small bg-white">
			<thead class="table-purple w-auto small">
				<tr>
					<th>İsim Soyisim</th>
					<th>Departmanı</th>
					<th>Talep Edilen İzin Tarihi</th>
					<th>İzin Tipi	</th>
					<th>İzne Çıkış Tarihi	</th>
					<th>İzinden Dönüş Tarihi	</th>
					<th>Durum</th>
					<th>Açıklama</th>
					<th>Onaylayan</th>
					<th>Doküman</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="w-auto small">
				<tr>
					<td>
						<p class="fw-bold mb-1">Nazım</p>
						<p class="text-muted mb-0">nazim.ozturk@mail.com</p>
					</td>
					<td>
						<p class="fw-normal mb-1">Yazılım</p>
						<p class="text-muted mb-0">L1</p>
					</td>
					<td>
						<span class="">28-05-2022</span>
					</td>
					<td>Yıllık İzin</td>
					<td>09-09-2022</td>
					<td>19-09-2022</td>

					<td>
						<select class="form-select">
							<option selected>Onay Bekleniyor</option>
							<option value="1">Onaylandı</option>
							<option value="2">Reddedildi</option>
							<option value="3">İptal Edildi</option>
						</select>
					</td>

					<td>
						<div class="form-floating">
							<textarea class="form-control" placeholder="Açıklama" id="floatingTextarea2"></textarea>
						</div>
					</td>
					<td>Ünsal GÜNAL</td>
					<td>Doküman</td>
					<td><button type="button" class="btn btn-purple2">Kaydet</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>	